<h1>Markets</h1>

<% @data[:data].each do |market| %>
  <p>Name: <%= market[:attributes][:name] %></p>
  <p>City: <%= market[:attributes][:city] %></p>
  <p>State: <%= market[:attributes][:state] %></p><br>
  <%= button_to "More Info", "/markets/#{@data[:data][0][:id]}", method: :get %>
<% end %>
